In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
%matplotlib inline
import seaborn as sns

In [2]:
df=pd.read_csv('creditcard.csv')

In [3]:
#It is a highly imbalanced dataset.
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [4]:
#Take sample of data
df_new=df.sample(frac=0.1,random_state=42)

In [5]:
df.shape

(284807, 31)

In [6]:
df_new.shape

(28481, 31)

In [7]:
#separating the data 
legit=df_new[df_new['Class']==0]

In [8]:
fraud=df_new[df_new['Class']==1]

In [9]:
fraud.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
43428,41505.0,-16.526507,8.584972,-18.649853,9.505594,-13.793819,-2.832404,-16.701694,7.517344,-8.507059,...,1.190739,-1.127670,-2.358579,0.673461,-1.413700,-0.462762,-2.018575,-1.042804,364.19,1
116404,74262.0,-2.250535,2.365755,-2.955491,0.089791,-2.830745,-0.844462,-0.174062,-0.407138,0.174216,...,0.256560,-0.466245,0.291105,0.242567,-1.279094,-1.123534,-0.630977,0.326839,311.28,1
215984,140308.0,-4.861747,-2.722660,-4.656248,2.502005,-2.008346,0.615422,-3.485680,1.878856,-1.116268,...,1.138876,1.033664,-0.806199,-1.511046,-0.191731,0.080999,1.215152,-0.923142,592.90,1
249239,154309.0,-0.082983,-3.935919,-2.616709,0.163310,-1.400952,-0.809419,1.501580,-0.471000,1.519743,...,0.702672,-0.182305,-0.921017,0.111635,-0.071622,-1.125881,-0.170947,0.126221,1096.99,1
146790,87883.0,-1.360293,-0.458069,-0.700404,2.737229,-1.005106,2.891399,5.802537,-1.933197,-1.017717,...,-0.936990,-0.053812,0.580106,0.216927,0.151643,-0.332115,-0.469800,-1.495006,829.41,1

In [10]:
legit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
49906,44261.0,0.339812,-2.743745,-0.134070,-1.385729,-1.451413,1.015887,-0.524379,0.224060,0.899746,...,-0.213436,-0.942525,-0.526819,-1.156992,0.311211,-0.746647,0.040996,0.102038,520.12,0
29474,35484.0,1.399590,-0.590701,0.168619,-1.029950,-0.539806,0.040444,-0.712567,0.002299,-0.971747,...,0.102398,0.168269,-0.166639,-0.810250,0.505083,-0.232340,0.011409,0.004634,31.00,0
276481,167123.0,-0.432071,1.647895,-1.669361,-0.349504,0.785785,-0.630647,0.276990,0.586025,-0.484715,...,0.358932,0.873663,-0.178642,-0.017171,-0.207392,-0.157756,-0.237386,0.001934,1.50,0
278846,168473.0,2.014160,-0.137394,-1.015839,0.327269,-0.182179,-0.956571,0.043241,-0.160746,0.363241,...,-0.238644,-0.616400,0.347045,0.061561,-0.360196,0.174730,-0.078043,-0.070571,0.89,0
101565,67878.0,-0.641330,-0.057304,1.489998,-1.688131,-1.151043,0.259996,-1.391069,-2.334075,1.168644,...,-1.231634,0.257164,-0.371953,-0.038566,1.397514,-0.665947,0.031003,0.180357,100.00,0

In [11]:
df_new['Class'].value_counts()

0    28435
1       46
Name: Class, dtype: int64

In [12]:
#it is still imbalanced and we are not going to use undersampling as we will use isolation forest and it will take care of it.
#creating dependent and independent variable
x=df_new.drop('Class',axis=1)
y=df_new['Class']

In [13]:
#model building and training 
from sklearn.ensemble import IsolationForest

In [30]:
iso_for=IsolationForest()

In [16]:
iso_for.fit(x)

IsolationForest()

In [19]:
y_pred=iso_for.predict(x)

In [20]:
#Reshaping the prediction values
y_pred[y_pred==1]=0
y_pred[y_pred==-1]=1

In [28]:
score_prediction=iso_for.decision_function(x)
score_prediction

array([-0.20938058,  0.0501259 ,  0.11307249, ...,  0.09089604,
        0.12896578,  0.09491383])

In [21]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [22]:
accuracy_score(y,y_pred)

0.9616937607527826

In [24]:
print(classification_report(y,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.96      0.98     28435
           1       0.04      0.87      0.07        46

    accuracy                           0.96     28481
   macro avg       0.52      0.92      0.52     28481
weighted avg       1.00      0.96      0.98     28481

In [25]:
print(confusion_matrix(y,y_pred))

[[27350  1085]
 [    6    40]]

In [31]:
n_error=(y!=y_pred).sum()

In [33]:
print('Number of outliers:',n_error)

Number of outliers: 1091